<section class="pb-7 shadow-5 mt-5">
    <div class="container">
        <div class="d-md-flex justify-content-md-between mb-6">
            <div>
                <h2 class="fs-35 font-weight-600 lh-15 text-heading">{{result.title}}</h2>
                <p class="mb-0"><i class="fal fa-map-marker-alt mr-2"></i>{{result.location.address}}</p>
            </div>
            <div class="mt-2 text-md-right">
                <p class="fs-22 text-heading font-weight-bold mb-0">
                    {{result.description.before_price_label}}&nbsp;{{result.description.price_in}}&nbsp;{{result.after_price_label}}
                </p>
            </div>
        </div>
        <div class="galleries position-relative">
            <div class="tab-content p-0 shadow-none">
                <div class="tab-pane fade show active" id="image" role="tabpanel">
                    <div class="slick-slider dots-white arrow-inner"
                        data-slick-options='{"slidesToShow": 1, "autoplay":false}'>
                        {{#each result.media}}
                        <div class="box">
                            <div class="item item-size-3-2">
                                <div class="card p-0">
                                    <a href="/public/uploads/{{this.image_path}}" class="card-img" data-gtf-mfp="true"
                                        data-gallery-id="03"
                                        style="background-image:url('/public/uploads/{{this.image_path}}')">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="primary-content bg-gray-01 pt-7 pb-12">
    <div class="container">
        <div class="row">
            <article class="col-lg-12">
                <section class="pb-8 px-6 pt-5 bg-white rounded-lg">
                    <h4 class="fs-22 text-heading mb-2">Description</h4>
                    <p class="mb-0 lh-214">
                        {{result.description.description}}
                    </p>
                </section>
                <section class="mt-2 pb-3 px-6 pt-5 bg-white rounded-lg">
                    <h4 class="fs-22 text-heading mb-6">Facts and Features</h4>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 mb-6">
                            <div class="media">
                                <div class="p-2 shadow-xxs-1 rounded-lg mr-2">
                                    <svg class="icon icon-family fs-32 text-primary">
                                        <use xlink:href="#icon-family"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h5 class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal">
                                        Type</h5>
                                    <p class="mb-0 fs-13 font-weight-bold text-heading">
                                        {{result.description.property_status}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-6">
                            <div class="media">
                                <div class="p-2 shadow-xxs-1 rounded-lg mr-2">
                                    <svg class="icon icon-year fs-32 text-primary">
                                        <use xlink:href="#icon-year"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h5 class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal">
                                        year built</h5>
                                    <p class="mb-0 fs-13 font-weight-bold text-heading">{{result.detail.year_built}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-6">
                            <div class="media">
                                <div class="p-2 shadow-xxs-1 rounded-lg mr-2">
                                    <svg class="icon icon-heating fs-32 text-primary">
                                        <use xlink:href="#icon-heating"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h5 class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal">
                                        heating</h5>
                                    <p class="mb-0 fs-13 font-weight-bold text-heading">{{result.detail.energy_class}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-6">
                            <div class="media">
                                <div class="p-2 shadow-xxs-1 rounded-lg mr-2">
                                    <svg class="icon icon-bedroom fs-32 text-primary">
                                        <use xlink:href="#icon-bedroom"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h5 class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal">
                                        Bedrooms</h5>
                                    <p class="mb-0 fs-13 font-weight-bold text-heading">{{result.detail.bedrooms}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-6">
                            <div class="media">
                                <div class="p-2 shadow-xxs-1 rounded-lg mr-2">
                                    <svg class="icon icon-sofa fs-32 text-primary">
                                        <use xlink:href="#icon-sofa"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h5 class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal">
                                        bathrooms</h5>
                                    <p class="mb-0 fs-13 font-weight-bold text-heading">{{this.detail.bathrooms}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 mb-6">
                            <div class="media">
                                <div class="p-2 shadow-xxs-1 rounded-lg mr-2">
                                    <svg class="icon icon-Garage fs-32 text-primary">
                                        <use xlink:href="#icon-Garage"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h5 class="my-1 fs-14 text-uppercase letter-spacing-093 font-weight-normal">
                                        GARAGE</h5>
                                    <p class="mb-0 fs-13 font-weight-bold text-heading">{{result.detail.garages}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-2 pb-6 px-6 pt-5 bg-white rounded-lg">
                    <h4 class="fs-22 text-heading mb-4">Additional Details</h4>
                    <div class="row">
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Price</dt>
                            <dd>{{result.description.before_price_label}}&nbsp;{{result.description.price_in}}&nbsp;{{result.description.after_price_label}}
                            </dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Rooms</dt>
                            <dd>{{result.detail.rooms}}</dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Bedrooms</dt>
                            <dd>{{resut.detail.bedrooms}}</dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Size</dt>
                            <dd>{{result.detail.size_in_ft}}m²</dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Bathrooms</dt>
                            <dd>{{result.detail.bathrooms}}</dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Garage</dt>
                            <dd>{{result.detail.garages}}</dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Garage size</dt>
                            <dd>{{result.detail.garage_size}}</dd>
                        </dl>
                        <dl class="col-sm-6 mb-0 d-flex">
                            <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Year build</dt>
                            <dd>{{result.detail.year_built}}</dd>
                        </dl>
                    </div>
                </section>

                <section class="mt-2 pb-6 px-6 pt-6 bg-white rounded-lg">
                    <h4 class="fs-22 text-heading mb-6">Virtual Tour</h4>
                    {{!-- <iframe height="430"
                        src="https://my.matterport.com/show/?m=wWcGxjuUuSb&amp;utm_source=hit-content-embed"
                        allowfullscreen="" class="w-100"></iframe> --}}
                </section>
                <section class="mt-2 pb-6 px-6 pt-6 bg-white rounded-lg">
                    <h4 class="fs-22 text-heading mb-6">Location</h4>
                    <div class="position-relative">
                        <div id="map" class="mapbox-gl map-point-animate"
                            data-mapbox-access-token="pk.eyJ1Ijoia2FyYWRlbml6ZW1pcnIiLCJhIjoiY2xuMzV1b2JiMGZvaDJtcGhreW84M3g1eCJ9.5FVjNkAnoYGLQdCKELBilA"
                            data-mapbox-options='{"center":[{{this.location.latitude}}, {{this.location.longitude}}],"setLngLat":[{{this.location.latitude}}, {{this.location.longitude}}]}'
                            data-mapbox-marker='[{"position":[{{this.location.latitude}}, {{this.location.longitude}}],"className":"marker","backgroundImage":"/public/images/googlle-market-01.png","backgroundRepeat":"no-repeat","width":"30px","height":"40px"}]'>
                        </div>
                        <p
                            class="mb-0 p-3 bg-white shadow rounded-lg position-absolute pos-fixed-bottom mb-4 ml-4 lh-17 z-index-2">
                            {{result.location.address}} <br />
                            {{result.location.country}}</p>
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>