<div class="container">
    <div class="wrapper dashboard-wrapper">
        <div class="d-flex flex-wrap flex-xl-nowrap">
            <div class="page-content">
                <main id="content" class="bg-gray-01">
                    <div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
                        <div class="mb-6">
                            <h2 class="mb-0 text-heading fs-22 lh-15">Kategori İşlemleri
                            </h2>
                            <p class="mb-1">Kategori İşlemlerini Buradan Yönetebilirsiniz</p>
                        </div>
                        <div class="button-group mb-4">
                            <button class="btn btn-primary btn-sm" id="open_add_category_modal">
                                Kategori Ekle
                            </button>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Kategori Dili</th>
                                    <th scope="col" class="text-center">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each categories}}
                                <form action="/admin/category/update/{{this.id}}" method="post">
                                    <tr>
                                        <th scope="row">{{this.id}}</th>
                                        <td>
                                            <input type="text" class="form-control" value="{{this.name}}" name="name" autocomplete="off">
                                        </td>
                                        <td>
                                            <select id="" class="form-control">
                                                <option value="tr" {{isSelected this.language.language 'tr' }}>Türkçe
                                                </option>
                                                <option value="en" {{isSelected this.language.language 'en' }}>English
                                                </option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-success btn-sm" type="submit">
                                                <i class="fas fa-sync-alt mr-2"></i>
                                            </button>
                                            <a class="btn btn-danger btn-sm text-white"
                                                href="/admin/category/delete/{{this.id}}">
                                                <i class="fas fa-trash mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </form>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="add_category_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Kategori Ekle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/category" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Kategori Adı" name="name"
                                autocomplete="off">
                        </div>
                        <div class="col">
                            <select name="language" id="" class="form-control">
                                <option value="null">Dil Seçiniz</option>
                                <option value="tr">TR</option>
                                <option value="en">EN</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#open_add_category_modal').click(function () {
            $('#add_category_modal').modal('show')
        })
    })
</script>